{% extends "base.html" %} 
{% block title %}Mining Resume{% endblock %} 
{% block main %}
    <div class="h-screen w-full bg-blue-300 flex items-center justify-center">
        <form class="bg-white w-1/2 px-10 py-5 rounded shadow-lg text-center" method=post enctype=multipart/form-data>
           
            <h1 class="text-2xl font-semibold mx-auto text-gray-500 my-5">Upload Your Resume to Extract Data</h1>
            {% if error %}
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                {{error}}
            </div>
            {% endif %}
                <div class="relative w-4/5 h-32 max-w-xs mb-10 mx-auto  bg-gray-100 rounded-lg shadow-inner">
                    <input type="file" id="file-upload" name="file" class="hidden" webkitdirectory directory multiple>
                    <label for="file-upload" class="z-20 flex flex-col-reverse items-center justify-center w-full h-full cursor-pointer">
                        <p class="z-10 text-xs font-semibold text-center text-gray-500" id="inp-msg">Click here to select your Directory</p>
                        <svg class="z-10 w-8 h-8 text-blue-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 6a2 2 0 012-2h5l2 2h5a2 2 0 012 2v6a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"></path>
                        </svg>
                    </label>
                </div>
            <input class="font-semibold text-white bg-blue-300 w-1/2 h-10 rounded shadow-lg cursor-pointer my-5" type="submit" value="Submit">
        </form>
        <script>
            $("#file-upload").change((file)=>{
                $("#inp-msg").html("Added Directory")
            })
        </script>
    </div>
{%endblock%}
