{% extends "base.html" %} 
{% block title %}Mining Resume{% endblock %} 
{% block main %}
    <div class="h-screen w-full bg-blue-300 flex items-center justify-center">
        <form class="bg-white w-1/2 px-10 py-5 rounded shadow-lg text-center" method=post enctype=multipart/form-data>
            <h1 class="text-2xl font-semibold mx-auto text-gray-500 my-5">Upload Your Resume to Extract Data</h1>
            <input
            class="relative m-0 block w-full min-w-0 flex-auto rounded border border-solid border-neutral-300 bg-clip-padding px-3 py-[0.32rem] text-base font-normal text-neutral-700 transition duration-300 ease-in-out file:-mx-3 file:-my-[0.32rem] file:overflow-hidden file:rounded-none file:border-0 file:border-solid file:border-inherit file:bg-neutral-100 file:px-3 file:py-[0.32rem] file:text-neutral-700 file:transition file:duration-150 file:ease-in-out file:[border-inline-end-width:1px] file:[margin-inline-end:0.75rem] hover:file:bg-neutral-200 focus:border-primary focus:text-neutral-700 focus:shadow-te-primary focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:file:bg-neutral-700 dark:file:text-neutral-100 dark:focus:border-primary"
            type="file"
            name="file"
             required/>
            <input class="font-semibold text-white bg-blue-300 w-1/2 h-10 rounded shadow-lg cursor-pointer my-5" type="submit" value="Submit">
        </form>
    </div>
{%endblock%}
